@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
}
.bg-grad-deep-space{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(10,8,36,1) 35%, rgba(17,0,94,1) 66%, rgba(29,2,152,1) 100%);
}

.active{
    color: rgb(16, 16, 207);
}

li{
    list-style-position: inside;
    list-style-type: circle;
}